{% extends 'backend/base.html' %}
{% load custom_tags %}
{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="" method="get" class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" name="title__icontains" placeholder="Product Title" class="form-control">
                </div>
                <div class="col-md-2">
                    <select name="variant_title__iexact" id="" class="form-control">
                        <option selected disabled>--Select A Variant--</option>
                        {% for variant in variants %}
                        <option selected disabled style="font-size:20px; color:black; font-weight:800;"> {{variant.title}} </option>
                        {% with variant.productvariant_set.all|unique_val as items %}
                        {% for item in items %}
                        <option value="{{variant.title}} {{item}}">{{item}}</option>
                        {% endfor %}
                         {% endwith %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="text" name="price__gte" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="text" name="price__lte" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="created_at__date" placeholder="Date" class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                        
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for product in products %}

                        
                        {% comment %} {{product.pvarinat.variant_title}} {% endcomment %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.title }} <br> Created at : {{ product.created_at|date:"d-M-Y" }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            {% for variant in product.pvariantprice.all %}

                                    
                            <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                <dt class="col-sm-3 pb-0">
                                    
                                    {{variant.product_variant_one.variant_title}}/{{variant.product_variant_two.variant_title}}/{{variant.product_variant_three.variant_title}}
                                    
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{variant.price }} </dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{variant.stock}}.</dd>
                                    </dl>
                                </dd>
                                
                            </dl>

                            {% endfor %}
                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing {{ page_obj.number|summary_data_first }} to {{ page_obj.number|summary_data_second:paginator.count}} out of {{ paginator.count }} </p>
                </div>
                <div class="col-md-2">

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">

                            {% if page_obj.has_previous %}
                            <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}"  aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            {% endif %}

                            
                          </li>

                          {% with ''|center:page_obj.paginator.num_pages as range %}
                            {% for _ in range %}

                          <li class="page-item {% if page_obj.number == forloop.counter %} active {% endif %}"><a class="page-link" href="?{% param_replace page=forloop.counter %}">{{forloop.counter}}</a></li>
                          {% endfor %}
                            {% endwith %}

                            {% if page_obj.has_next %}
                                <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                            
                          </li>
                        </ul>
                      </nav>

                </div>
            </div>
        </div>
    </div>
{% endblock %}